Source: theme-metalique
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: theme-metalique
Section: main
Architecture: all
XBSC-Group: Themes
XBSC-SubGroup: Metal
Description: Metalique Theme
 Clean metalic theme



